<!DOCTYPE HTML>
<html lang="zxx">
<head>

	<title>Smart Health Application </title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"/>
	<script>
	addEventListener("load", function () {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar() {
		window.scrollTo(0, 1);
	}
	</script>
</head>

<body>
	  <div id="video_feed"  align=center>
        <img  src="{{ url_for('video_feed') }}" height="33%" width="33%">-
      </div>

</body>
</html>


